[workspace]
resolver = "2"
members = ["common", "2024"]
exclude = ["2025"]

[workspace.dependencies]
tracing = "0.1"
tracing-subscriber = "0.3"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"
debug = false
